<h1 class="text-center my-0" style="background-color: #001f3f; color: white;">投稿編集</h1>

<div class="container-fluid vh-80 d-flex flex-column justify-content-center">
  <div class="row flex-grow-1">
    <div class="col-md-4 text-center">
      <%= image_tag 'PAK36_doremoiroenpitu20131005_TP_V4.jpg', alt: '左の画像', class: 'img-fluid', style: 'opacity: 0.3;' %>
    </div>

    <div class="col-md-4">
      <div class="post-edit mt-5">
        <%= form_with model: @post, url: users_post_path(@post), method: :patch, local: true do |f| %>
          <% if @post.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <h2><%= pluralize(@post.errors.count, "エラー") %>が発生しました:</h2>
              <ul>
                <% @post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="mb-3 mt-5">
            <h4 class="form-label">タイトル</h4>
            <%= f.text_field :title, required: true, class: "form-control" %>
          </div>

          <div class="mb-3">
            <h4 class="form-label">テキスト</h4>
            <%= f.text_area :text, required: true, class: "form-control", rows: 5 %>
          </div>

          <div class="text-center">
            <%= f.submit '更新', class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <div class="text-center mt-5">
        <%= link_to '戻る', users_post_path(@post), class: "btn btn-secondary" %>
      </div>

     
    </div>

    <div class="col-md-4 text-center">
      <%= image_tag 'PAK36_doremoiroenpitu20131005_TP_V4.jpg', alt: '右の画像', class: 'img-fluid', style: 'opacity: 0.3;' %>
    </div>
  </div>
</div>
