<h2 class="text-center mt-0" style="background-color: #001f3f; color: white;">Edit <%= resource_name.to_s.humanize %></h2>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-3">
          <%= f.label :name, "ユーザー名", class: "form-label" %>
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :email, "メールアドレス", class: "form-label" %>
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="alert alert-info">
            Currently waiting confirmation for: <%= resource.unconfirmed_email %>
          </div>
        <% end %>

        <div class="mb-3">
          <%= f.label :password, "新しいパスワード", class: "form-label" %> 
          <i>(変更しないならこのまま空白で大丈夫です)</i>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            <small class="form-text text-muted"><%= @minimum_password_length %> characters minimum</small>
          <% end %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, "確認用のパスワード", class: "form-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :current_password, "旧パスワード", class: "form-label" %> 
          <i>(変更を保存するために旧パスワードを入力しましょう)</i>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="text-center">
          <%= f.submit "更新", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-6 text-center">
      <h3>アカウントを削除する</h3>
      <div class="alert alert-warning">
        本当に削除しますか? <%= button_to "削除", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-3 back-btn">
    <div class="col-md-6 text-center">
      <%= link_to "戻る", :back, class: "btn btn-secondary" %>
    </div>
  </div>
</div>


<style>
  .back-btn {
    padding-bottom: 120px;
  }
</style>