<div class="container mt-5">
  <div class="card">
    <div class="card-header text-center header">
      <h2><%= @group.name %> グループの詳細</h2>
    </div>
    <div class="card-body">
      <h5>テーマ</h5>
      <p><%= @group.theme %></p>
      <hr>
      <h5>ルール</h5>
      <p><%= @group.rules %></p>
      <hr>
      <h5>作成者</h5>
      <p><%= link_to @group.creator.name, user_mypage_path(@group.creator.id), class: "text-dark" %></p> 
      <hr>

      <h4>メンバー</h4>
      <% if @members.any? %>
        <ul>
          <% @members.each do |member| %>
            <li><%= link_to member.name, user_mypage_path(member.id), class: "text-dark" %></li>
          <% end %>
        </ul>
      <% else %>
        <p>メンバーはいません。</p>
      <% end %>

      <% if @group.group_memberships.exists?(user: current_user, status: :pending) %>
        <p>参加申請中です。承認をお待ちください。</p>
      <% elsif @group.group_memberships.exists?(user: current_user, status: :rejected) %>
        <p>申請は拒否されました。</p>
      <% elsif current_user.groups.include?(@group) %>
        <p>このグループには既に参加しています。</p>
      <% else %>
        <%= button_to '参加申請', group_group_memberships_path(@group), method: :post, class: "btn btn-primary" %>
      <% end %>

      <% if current_user == @group.creator %>
        <h3>参加申請一覧</h3>
        <ul>
          <% @pending_memberships.each do |membership| %>
            <li data-membership-id="<%= membership.id %>">
              <%= membership.user.name %>
              <%= button_to '承認', group_group_membership_path(@group, membership, status: :approved), method: :patch, remote: true, class: "btn btn-success btn-sm" %>
              <%= button_to '拒否', group_group_membership_path(@group, membership, status: :rejected), method: :patch, remote: true, class: "btn btn-danger btn-sm" %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if current_user == @group.creator %>
        <%= link_to 'グループ編集', edit_group_path(@group), class: "btn btn-secondary mt-3" %>
      <% end %>

      <% if current_user == @group.creator %>
        <%= link_to 'グループ削除', @group, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger mt-3" %>
      <% end %>
    </div>
  </div>

  <% if current_user.groups.include?(@group) && @membership.status == 'approved' %>
    <%= button_to '退会する', group_group_membership_path(@group, @membership), method: :delete, class: "btn btn-warning mt-2", data: { confirm: '本当に退会しますか？' } %>
  <% end %>

  <% if current_user.admin? %> <
    <div class="mt-3 text-center">
      <%= link_to '管理者用グループ一覧に戻る', admin_groups_path, class: "btn btn-secondary" %> 
    </div>
  <% end %>

  <div class="mt-3 text-center">
    <%= link_to 'グループ一覧に戻る', groups_path, class: "btn btn-secondary" %>
  </div>
</div>
