<h1 class="text-center my-0" style="background-color: #001f3f; color: white;">マイページ</h1>

<div class="container-fluid vh-80 d-flex flex-column justify-content-center">
  <div class="row flex-grow-1">
    <div class="col-md-4 text-center">
      <%= image_tag 'uchino_6270000036_TP_V4.jpg', alt: '左の画像', class: 'img-fluid', style: 'opacity: 0.3;' %>
    </div>

    <div class="col-md-4">
      <div class="user-info mt-5">
        <h4 class="form-label">ユーザー情報</h4>
        <p><strong>名前:</strong> <%= @user.name %></p>
        <p><strong>メールアドレス:</strong> <%= @user.email %></p>
        <%= link_to 'プロフィールを編集', edit_user_registration_path, class: 'btn btn-primary mt-3' %>
      </div>

      <div class="post-list mt-5">
        <h4 class="form-label">投稿一覧</h4>
        <% if @posts.any? %>
          <% @posts.each do |post| %>
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text"><%= post.text %></p>
                <div class="text-end"> <!-- 右寄せ -->
                  <%= link_to '編集', edit_users_post_path(post), class: "btn btn-warning" %>
                  <%= link_to '削除', users_post_path(post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>投稿はまだありません。</p>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 text-center">
      <%= image_tag 'uchino_6270000036_TP_V4.jpg', alt: '右の画像', class: 'img-fluid', style: 'opacity: 0.3;' %>
    </div>
  </div>
</div>
