<h1 class="text-center my-0">マイページ</h1>

<div class="container-fluid vh-80 d-flex flex-column justify-content-center">
  <div class="row flex-grow-1">
    <div class="col-md-4 text-center">
      <%= image_tag 'uchino_6270000036_TP_V4.jpg', alt: '左の画像', class: 'img-fluid left-image' %>
    </div>

    <div class="col-md-4">
      <div class="user-info mt-5">
        <h4 class="form-label">ユーザー情報</h4>
        <div class="row">
          <p><strong>名前:</strong> <%= @user.name %></p>
        </div>
        <div class="row">
          <p><strong>メールアドレス:</strong> <%= @user.email %></p>
        </div>
        <div class="row">
          <p><strong>フォロー：</strong><%= link_to @user.followings.count, users_followings_path(user_id: @user.id) %></p>
          <p style="margin-left: 10px;"><strong>フォロワー：</strong><%= link_to @user.followers.count, users_followers_path(user_id: @user.id) %></p>
        </div>
        <%= link_to 'ユーザー編集', edit_user_registration_path, class: "btn btn-warning" %>

        <% if current_user.admin? %>
          <h4 class="mt-4">管理者メニュー</h4>
          <%= link_to 'コメント一覧', admin_comments_path, class: 'btn btn-primary' %>
          <%= link_to 'ユーザー一覧', admin_users_path, class: 'btn btn-primary' %>
          <%= link_to 'グループ一覧', admin_groups_path, class: 'btn btn-primary' %>
        <% end %>
      </div>

      <div class="post-list mt-5">
        <h4 class="form-label">投稿一覧</h4>
        <% if @posts.any? %>
          <% @posts.each do |post| %>
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text"><%= post.text %></p>
                <div class="text-end"> 
                  <%= link_to '編集', edit_users_post_path(post), class: "btn btn-warning" %>
                  <%= link_to '削除', users_post_path(post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>投稿はまだありません。</p>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 text-center">
      <%= image_tag 'uchino_6270000036_TP_V4.jpg', alt: '右の画像', class: 'img-fluid right-image' %>
    </div>
  </div>
</div>

<style>
  h1 {
    background-color: #001f3f;
    color: white;
  }

  .left-image, .right-image {
    opacity: 0.3;
  }
  
  .row {
    margin-left: 8px;
  }

  @media (max-width: 768px) {
    .container-fluid {
      padding: 10px;
    }

    .left-image, .right-image {
      display: none; 
    }

    .user-info, .post-list {
      margin-top: 20px;
    }

    .row.flex-grow-1 {
      flex-direction: column;
    }

    h1.text-center {
      font-size: 1.5rem; 
    }

    .btn {
      width: 100%; 
      margin-top: 10px; 
    }
  }

  @media (min-width: 769px) and (max-width: 992px) {
    .col-md-4 {
      flex: 0 0 50%; 
      max-width: 50%;
    }

    .user-info {
      margin-top: 40px;
    }
  }
</style>
