<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #001f3f;"> 
  <div class="container mr-10 ml-10">
    <a class="navbar-brand" href="<%= root_path %>" style="font-family: 'Brush Script MT', cursive;">Study Share</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex justify-content-between w-100">
        <% if user_signed_in? %>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" style="color: #f5f5dc;" href="<%= about_path %>">About</a>
          </li>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" style="color: #f5f5dc;" href="<%= users_posts_path %>">投稿一覧</a>
          </li>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" style="color: #f5f5dc;" href="<%= mypage_path %>">マイページ</a>
          </li>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" style="color: #f5f5dc;" href="<%= new_users_post_path %>">新規投稿</a>
          </li>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" style="color: #f5f5dc;" href="<%= destroy_user_session_path %>" data-method="delete">ログアウト</a>
          </li>
          <form class="d-flex ms-auto" action="<%= search_path %>" method="get">
            <input class="form-control me-2" type="search" name="query" placeholder="キーワード検索" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" style="white-space: nowrap;">検索</button>
          </form>
        <% else %>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" style="color: #f5f5dc;" href="<%= root_path %>">Top</a>
          </li>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" style="color: #f5f5dc;" href="<%= about_path %>">About</a>
          </li>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" style="color: #f5f5dc;" href="<%= new_user_registration_path %>">新規登録</a>
          </li>
          <li class="nav-item flex-fill text-center">
            <a class="nav-link" style="color: #f5f5dc;" href="<%= new_user_session_path %>">ログイン</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
